body
{
    background-color:grey;
}
h1
{
 background-color:lightblue;
 color:black;
 text-align: center;   
}
h2
{
    background-color:lightblue;
    color:black;
    text-align: center;   
}
img
{
    width:100%;
    height:100%;
}